*{text-decoration: none;margin: 0;padding: 0;color: black;
padding-left: 0;padding-right:2px;
font-family: "Montserrat", sans-serif;}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{background-color: #faf6f6;}

main{
    width: 100%;
}

.main_content{
    width: 74.9%;
    margin: auto;
}

.block_content{
    width: 90%;
    margin: auto;
    margin-top: 3%;
    display: block;
}

.top_block_content{
    display: flex;
}

.top_block_content h1{
    display: inline-block;
}

.block_left{
    transition: 2s linear;
    height: 415px;
    width: 50%;
}

.block_left p{
    margin-top: 7%;
    color: #bbbbbb;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 3px;
}

.block_left h1{
    margin-top: 1%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 67%;
    font-size: 50px;
}

.lemon{
    float: right;
    margin-right: 30%;
}

.but{
    margin-top: 5%;
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    background-color: #f7c70d;
    border: none;
    border-radius: 6px;
    width: 216px;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.but:hover{
    transition: 0.5s linear;
    background-color: #dfb305;
}

.fire{
    margin-left: 7%;
    margin-top: -12%;
}

.block_right{
    height: 415px;
    text-align: right;
    width: 50%;
}

.hrefs{
    top: 30px;
    line-height: 1.5;
    width: 40%;
    display: flex;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    text-align: right;
    font-size: 0.9em;
    font-weight: 700;
    z-index: 2;
}

.hrefs a:hover{
    transition: 0.2s linear;
    color: #f7c70d;
}

.selected{
    color: #f7c70d;
}

.hrefs , .block_right img{position: relative;}

.block_right img{
    top:-90px;
    z-index: 1;
}

.block_of_information{
    height: 95px;
    display: flex;
    width: 24%;
    background-color: white;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}

.block_of_blocks{
    margin-top: 4%;
    display: flex;
    justify-content:space-between;
}

.block_of_information img{
    max-width: 33px;
    max-height: 37px;
}

.info{
    width: 64%;
}

.info h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
}

.info h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
}

.info span{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: black;
}

.info span:last-child{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #8c8c8c;
}

.top_black_block{
    margin-top: 10%;
    transform: skewY(-1.5deg);
    background: #131313;
    background: radial-gradient(circle,#2f2f2f, #131313);
    clear: both
}

.block_text{
    padding-top: 5%;
    margin-left: 5%;
    width: 32%;
    transform: skewY(1.5deg);
}

.block_text span{
    color: #ffc001;
}

.block_text h2,p{
    color: white;
}

.block_text p{
    margin-top: 5%;
    color: #c6c6c6;
    font-size: 12px;
}

.way{
    display:flex;
    transform: skewY(1.5deg);
    margin-top: 3%;
    background-image: url('img_css/Yell_way.png');
    background-repeat: no-repeat;
    height: 172px;
    align-items: center;
}

.cadr{
    margin-left: 7%;
    max-width: 75px;
    max-height: 75px;
}

.way p{
    color: #000;
    font-size: 16px;
}

.inner_way{
    margin-left: 3%;
}

.phones{
    position: relative;
    top: -190px;
    left: -20px;
}

.block_text_bot{
    text-align: center;
    transform: skewY(1.5deg);
    margin-top: 5%;
    padding-bottom: 5%;
}

.block_text_bot h2{
    letter-spacing: 1px;
    width: 48%;
    margin: auto;
    color: white;
    font-size: 1.5;
}

.block_text_bot span{
    color: #ffc001;
}

.block_text_bot p{
    text-align: center;
    width: 34%;
    margin: auto;
    margin-top: 3%;
    color: #c6c6c6;
    font-size: 12px;
}

.but2{
    transform: skewY(1.5deg);
    margin: auto;
    position: relative;
    top: 25px;

    margin-top: 5%;
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    background-color: #f7c70d;
    border: none;
    border-radius: 6px;
    width: 216px;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

@media only screen 
and (max-width:1666px){
    .block_content{
        width: 100%;
    }
}

@media only screen 
and (max-width:1580px){
    .inner_way h2{
        font-size: 1.3em;
    }
}

@media only screen 
and (max-width:1482px){

    html,body{overflow-x: hidden;}

    .block_left h1{
        width: 75%;
    }

    .info span {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 8px;
        color: black;
    }

    .inner_way h2{
        font-size:0.9em;
    }

    .block_text_bot h2{
        width: 55%;
    }
    
    .block_text_bot p{
        width: 40%;
    }
}

@media only screen 
and (max-width:1285px){
    .lemon{
        margin-right: 10%;
    }

    .main_content{
        width: 100%;
    }

    .inner_way h2{
        font-size: 1.3em;
    }
}

@media only screen 
and (max-width:1111px){
    .info span {
        font-size: 8px;
    }
    .info h1 {
        font-size: 1.3em;
    }
    .info h1:last-child{
        font-size: 1.3em;
    }
    .phones{
        display: none;
    }
    .inner_way h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:793px){
    .top_block_content{
        display: flex;
        flex-direction: column;
    }
    
    .top_block_content h1 img{
        display: none;
    }

    .block_left{
        width: 100%;
    }

    .centerImg{
        display: flex;
        margin: auto;
    }

    .block_left h1{
       display: flex;
       width: 80%;
       text-align: center;
       margin: auto;
       margin-top: 5%;
    }
    
    .block_left p{
        text-align: center;
        margin: auto;
        margin-top: 4%;
     }

    .but{
        margin: auto;
        margin-top: 3%;
        height: 45px;
        width: 220px;
    }

    .block_right{
        height: 415px;
        text-align: right;
        width: 100%;
    }

    .block_of_blocks{
        margin-top: 4%;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
        
    .block_of_information{
        width: 100%;
    }

    .top_black_block{
        transform: skewY(0deg);
    }

    .block_text{
        transform: skewY(0deg);
    }

    .block_text{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .way{
        transform: skewY(0deg);
    }

    .inner_way h2 {
        font-size: 1em;
    }

    .inner_way p {
        margin-top: 2%;
    }

    .block_text_bot{
        transform: skewY(0deg);
    }
    
    .block_text_bot h2{
        width: 90%;
    }
    
    .block_text_bot p{
        width: 90%;
    }

    .but2{
        transform: skewY(0deg);
    }
}

@media only screen and (max-width:767px){
    .hrefs{
        font-size: 2em;
    }

    .but {
        height: 80px;
        width: 300px;
        font-size: 1.6em;
    }

    .but2 {
        height: 80px;
        width: 300px;
        font-size: 1.6em;
    }

    .fire img {
        height: 60px;
        width: 50px;
        margin-left: -8px;
    }

    .block_right img {
        display: none;
    }

    .block_of_blocks {
        margin-top: -20%;
    }
    
    .info h1 {
        font-size: 1.9em;
    }

    .info span {
        font-size: 17px;
    }
    
    .info span:last-child {
        font-size: 15px;
    }

    .block_text p {
        font-size: 20px;
    }

    .inner_way {
        margin: auto;
    }

    .inner_way h2 {
        font-size: 1.6em;
    }

    .inner_way p {
        font-size: 1.2em;
    }

    .block_text_bot p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width:767px){
    .hrefs{
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    .but {
        height: 80px;
        width: 300px;
        font-size: 1.6em;
    }

    .but2 {
        height: 80px;
        width: 300px;
        font-size: 1.6em;
    }

    .fire img {
        height: 60px;
        width: 50px;
        margin-left: -8px;
    }

    .block_right img {
        display: none;
    }

    .block_of_blocks {
        display: grid;
        grid-template-columns: repeat(1,100%);
        margin-top: -20%;
    }
    
    .info h1 {
        font-size: 1.9em;
    }

    .info span {
        font-size: 17px;
    }
    
    .info span:last-child {
        font-size: 15px;
    }

    .block_text p {
        font-size: 20px;
    }

    .inner_way {
        margin: auto;
    }

    .inner_way h2 {
        font-size: 1.2em;
    }

    .inner_way p {
        font-size: 1.2em;
    }

    .block_text_bot p {
        font-size: 1.2em;
    }
}


@media only screen and (max-width:415px){
    *{padding-right: 0;}

    .block_left{
        width: 100%;
    }

    .block_right{
        width: 99%;
    }

    .block_right img {
        top: 41px;
        z-index: 1;
        width: 99%;
    }

    .block_left h1 {
        width: 99%;
        font-size: 2.5em;
    }

    .hrefs {
        top: 15px;
        width: 95%;
        margin: auto;
        text-align: center;
    }
    
    .block_of_blocks{
        margin-top: -18%;
        display: grid;
        grid-template-columns: repeat(1,100%);
    }

    .cadr{
        display: none;
    }

    .inner_way h2 {
        text-align: center;
        font-size: 1em;
    }
    
    .inner_way p {
        text-align: center;
        font-size: 1em;
    }
    
    .info h1 {
        font-size: 1.9em;
    }

    .info span {
        font-size: 12px;
    }
}